<div class="container-fluid m-5">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="was-validated" >
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
            <input type="text"
            class="form-control form-control-lg"
            id="username"
            placeholder="Please enter your email"
            formControlName="username" required>
          </div>
        <div *ngIf="loginForm.get('username')?.touched">
            Please enter registered email address 
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
            <input type="password"
            class="form-control form-control-lg"
            id="password"
            matInput
            formControlName="password">
          </div>
        <button class="btn btn-secondary" type="submit">Login</button>
    </form>
</div>
